@import 'bulma';

.container{
  width:30vw;
}

h1{
  padding-top: 20px;
}

.title{
  padding-left:20px;
  color:white;
}

.nav{
  width:100%;
  color:white;
  background-color: #81BC39;
}

img.singleImage{
  border-radius: 100%;
}

.card{
  width:100%;
}

.content{
  padding-top:20px;
}

.media-right{
  padding-top:20px;
  padding-right:20px;
}

.homeButton{
  margin-top:5px;
}

p.singleInfo{
  padding-top:10px;
}

.fa{
  padding-right:10px;
  padding-left:5px;
}

footer{
  padding-top:10px;
  text-align: center;
}
