<div class="card" ng-repeat="contact in vm.contacts">
    <article class="media">

        <a href="/#/contact/{{ contact._id }}">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img ng-src="{{ contact.url }}" alt="{{ contact.name }}">
                </p>
            </figure>

        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{ contact.name }}</strong>
                </p>
            </div>
            </a>
        </div>

        <div class="media-right">
            <button ng-click="vm.deleteContact(contact._id)" class="delete"></button>
        </div>

    </article>
</div>
